.container {
    background-color: white;
  }
.homej {
    height: 100vh;
}
.homes {
    background-color: rgb(14, 13, 13);
}
.titlehead{
    margin-top: 25vh;
}
.jumbotron {
    background-color: rgb(6, 143, 6);
    color: white;
    border-bottom-right-radius: .5emp;
    border-bottom-left-radius: .5em;
}
.homeb {
    background-color: rgb(6, 143, 6);
}
.links {
    margin-top: 10vh;
    font-size: 19px;
}
.alink{
    color: white;
}